
        <div class="container text-center">
            <hr>
            <div class="content">
                <a type="button" role="button" href="https://trakteer.id/arzhavz" target="_blank" class="a b btn btn-block">Support via Trakteer</a>
            </div>
        </div>
        
        <div class="container-fluid footer text-center">
        <hr>
            <br>
            <h5>&copy; 2022 Sandy Pratama</h5>
            <br>
        </div>
        
        <script>
        //your code here
        </script>
    </body>
</html>
